process {

  withName: 'BUILD_BWA_INDEX' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }

  withName: 'DETECT_TYPE' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
  }

  withName: 'EXTRACT_READS' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }

  withName: 'BAM_TO_FASTQ' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  
  withName: 'REALIGN_FASTQ' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }

  withName: 'CALL_VARIANTS_MUTSERVE' {
    cpus = { 1 * task.attempt }
    memory = { 4.GB * task.attempt }
  }  

  withName: 'CALCULATE_PERFORMANCE' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
  }       
  errorStrategy = 'retry'
  maxRetries = 3
  
}