/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow run genepi/exome-cnv-nf -r <tag> -profile test,<docker/singularity>
----------------------------------------------------------------------------------------
*/

params {
    project                        = "vntr-other-region"
    input                          = "test-data/*.bam"
    gold                           = "reference-data/gold/gold.txt"
    region                         = "bin/kiv2_hg38.bed"
    reference                      = "reference-data/kiv2.fasta"
    contig                         = "KIV2_6"
    build                          = "hg38"
}
